@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
p{
     font-family: "Bebas Neue", sans-serif;
}
div p{
      font-family: "Playwrite AU QLD", cursive;
}