*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
#maincontainer{
    height: 700px;
    width: 100%;
}
header{
    height: 72px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 1px 5px 5px gray;
    position:absolute;
    top: 0;
}
aside{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
}
nav{
    width: 70%;
    height: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul{
    height: 100%;
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
ul li{
    list-style: none;
    padding: 20px;

}
a{
    text-decoration: none;
    color: black;
}
button{
    width: 10%;
    height: 70%;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}
button:hover{
    cursor:pointer
}
a:hover{
    color:blue
}
article h1{
    color: #1D1A4E;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 20px;
    padding-top: 72px;
}
article p{
    text-align: center;
    margin: 10px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    height: 650px;
    width: 90vw;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.box{
    height: 300px;
    width: 48%;; 
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.816);
    box-shadow: 3px 3px 3px rgb(173, 163, 163);
}
.box h1{
    color: #1D1A4E;
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    margin: 10px;
    font-family: cursive;
}
h1:hover{
    color: black;

}

.box p{
    font-size: 18px;
    text-align: justify;
    margin: 10px;
    
}
.mainlogocont{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.logo{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.logotextcont{
    display: flex;
    justify-content: space-around;
    
}
.logotext{
    height: 90px;
    width: 90px;
    /* border: 2px solid; */
    font-size: 17px;
    font-family: cursive;
    text-align: center;
    font-weight: 500;
    
}
.mainlogocont img{
    height: 90px;
    width: 90px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}
img:hover{
    cursor: pointer;
}