* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    background: black;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    font-family: cursive;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.nav-links a:hover {
    color: yellow;
}

.search-box {
    display: flex;
    gap: 8px;
}

.search-box input {
    height: 35px;
    padding: 6px 12px;
    border-radius: 3px;
    border: none;
}

.search-box button {
    font-size: 15px;
    font-family: cursive;
    padding: 6px 12px;
    cursor: pointer;
    background: white;
    border: none;
    font-weight: bold;
}

.search-box button:hover {
    border-radius: 7px;
}

#green {
    color: white;
    background-color: blueviolet;
}



.cont {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.product-card {
    width: 300px;
    background-color: var(--card-background);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.product-card__image {
    height: 250px;
    overflow: hidden;
}

.product-card__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.product-card:hover .product-card__image img {
    transform: scale(1.05);
}

.product-card__info {
    padding: 20px;
}

.product-card__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
}

.product-card__description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 1;
}

.product-card__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card__price {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
}

.product-card__btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card__btn:hover {
    background-color: rgb(255, 80, 80);
}