* {
    background-color: black;
    color: white;
}

.box {
    background-color: red;
    height: 50vh;
    width: 50vh;
}

.page1 {
    width: 50vw;
    height: 50vw;
    background-color: aqua;
}

.page2 {
    width: 50vw;
    height: 50vw;
    background-color: blue;
}

.page3 {
    width: 50vw;
    height: 50vw;
    background-color: #dadada;
}