* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.landing {
    /* background-color: aquamarine; */
    height: 30vw;
    width: 100vw;
}

.landing>img {
    height: 30vw;
    width: 63vw;
    padding-left: 10%;
}